git+https://github.com/FasterSpeeding/hikari@task/components#egg=hikari[speedups]
git+https://github.com/FasterSpeeding/Tanjun@task/components
git+https://github.com/FasterSpeeding/Sake@task/raw-dispatch
uvloop>=0.15.2
