git+https://github.com/hikari-py/hikari#egg=hikari[speedups]
git+https://github.com/tandemdude/hikari-lightbulb
git+https://github.com/FasterSpeeding/Sake.git@task/raw-dispatch
apscheduler>=3.7.0
uvloop>=0.15.2
